h1 {
  font-family: "Roboto Slab";
  font-size: 45px;
  text-align: center;
  padding: 2%;
  background-color: #eee;
  color: rgb(80, 42, 31);
}

#filter-and-items-container {
  position: relative;
}

#filterContainer {
  margin-left: 4%;
}

#itemsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 10%;
  left: 23%;
  right: 5%;
  padding: 4%;
  background-color: white;
  border-radius: 10px;
}
