.icon-sorted-list {
  margin: 0.5%;
  cursor: pointer;
}
.hidden-content-list {
  visibility: hidden;
}

.collapsible-button {
  padding: 1%;
  width: 15%;
  text-align: left;
  font-size: 110%;
  border: none;
  background-color: #eee;
  color: rgb(61, 47, 47);
}

.active-collapsible-button {
  background-color: #c0c0c0;
}

.collapsible-content {
  display: none;
  overflow: hidden;
}

.container-checkboxes {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  /* -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}

.container-checkboxes input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  background-color: rgb(136, 99, 99);
}

.container-checkboxes:hover input ~ .checkmark {
  background-color: brown;
}
.container-checkboxes input:checked ~ .checkmark {
  background-color: #2196f3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.container-checkboxes input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-checkboxes .checkmark:after {
  left: 4.5px;
  top: -0.5px;
  width: 7px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#filter-list-button-container {
  margin-top: 3%;
  border-top: 3px solid rgb(7, 7, 7);
  width: 16%;
}

.filter-list-button {
  border: none;
  padding: 5%;
  margin: 4%;
  margin-top: 10%;
  font-size: 90%;
}

#reset-button {
  width: 48%;
  text-align: center;
  background-color: #eee;
  color: rgb(179, 160, 160);
}
.active-reset-button {
  opacity: 0.5;
}
#done-button {
  width: 35%;
  text-align: center;
  background-color: rgb(63, 50, 50);
  color: whitesmoke;
}
.active-done-button {
  opacity: 0.5;
}
